body {
    background-color: #e3fff9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.synth-option {
    display: flex;
    justify-content: space-evenly;
}

.envelope-options {
    display: flex;
    gap: 10px;
}

#wav-container {
    margin-top: 20px;
}

