server {
    listen ${NGINX_PORT};
    server_name ${PROXY_HOSTNAME};
    
    location / {
        return 301 http://$server_name:${PROXY_PORT}/web/;
    }

    location /web {
        root /data;
        index index.html index.htm;
    }

    location /synth {
        proxy_pass http://backend:6500/synth;
        proxy_redirect http://backend:6500 http://$server_name:${PROXY_PORT};
    }

    location /static {
        proxy_pass http://backend:6500/static;
    }
}
