:root {
    --background-color: #eef8f4;
    --text-color: #353535;
    --font: Helvetica, 'Times New Roman', monospace;
    --normal-font-size: 18px;
    --input-font-size: 14px;
    --input-background: #3A3A3A;
    --input-hovered: #4e4e4e;
    --input-pressed: #757575;
    --input-text-color: #eef8f4;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font);
    font-size: var(--normal-font-size);
}

input {
    font-family: var(--font);
    font-size: var(--input-font-size);
}

.main-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 40px;
    font-size: 34px;
}

form {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.options-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 100px;
    row-gap: 60px;
}

.general-options-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.general-options-container fieldset {
    gap: 10px;
}

.general-options-container fieldset input {
    width: 140px;
}

.envelope-options {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.envelope-options-ranges {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 4px;
}

.envelope-options-ranges fieldset {
    border: none;
    display: flex;
    gap: 8px;
    justify-content: space-between;
}

.range-value-container {
    display: flex;
    justify-content: right;
    gap: 5px;
}

fieldset {
    border: none;
    display: flex;
    justify-content: space-between;
}

.audio-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

#wav-container {
    margin-top: 20px;
}

input, select, button {
    padding: 4px;
    background-color: var(--input-background);
    color: var(--background-color);
    border: 1px;
    border-radius: 10px;
    outline: none;
}

input[type="range"] {
    accent-color: var(--input-background);
}

#submit, button {
    min-width: fit-content;
    padding: 8px;
    border-radius: 14px;
    font-size: 18px;
}

#submit:hover, input[type="text"]:hover, select:hover, button:hover/*, #submit:focus, input[type="text"]:focus, select:focus, button:focus*/ {
    background-color: var(--input-hovered);
    color: var(--input-text-color);
}

#submit:active, button:active {
    background-color: var(--input-pressed);
}

.audio-container button {
    font-size: 16px;
}